<div>
    <div class="row pt-4 pb-2">
        <div class="col">
            <h5>Description</h5>
            <p>The IGET Legend is an all-in-one disposable vape device that comes pre-filled for ease of use and
                convenience. Its compact and lightweight design makes it easy to carry and use on the go. With a
                built-in battery and pre-filled e-liquid, you won't have to worry about messy refills or recharges. The
                IGET Legend delivers a smooth and satisfying vaping experience with every puff, thanks to its fixed
                airflow and draw-activated firing mechanism, which means you don't have to press any buttons to start
                vaping.
            </p>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h5>Specifications</h5>
            <ul class="px-4">
                <li>Puff: 4000 Puffs</li>
                <li>Battery: 1350mAh</li>
                <li>Size: 22*22*122mm</li>
            </ul>
        </div>
    </div>
    <div class="row py-2">
        <div class="col">
            <h5>Package Content</h5>
            <p>1 x IGET Legend 4000 Puffs Vape</p>
        </div>
    </div>
</div>