<%- include("header") -%>
    <div class="container py-5">
        <h1 class="mb-3">Privacy Policy</h1>
        <p>At <a href="https://iget-vapes.store/">IGET-Australia</a>, we value your privacy and are committed to protecting your personal information. This
            Privacy Policy outlines the types of personal information we collect, how we use it, and the measures we
            take to safeguard your information.</p>
        <br>
        <h2>What Information We Collect:</h2>
        <p>We may collect personal information, including your name, email address, phone number, and mailing address,
            when you interact with our website, products, or services.</p><br>
        <h2>How We Use Your Information:</h2>
        <p>We use the information we collect to improve our products and services, communicate with you about
            promotions and updates, and to process orders and payments. We may also use your information to conduct
            market research, personalize your experience, and comply with legal obligations.</p><br>
        <h2>How We Protect Your Information:</h2>
        <p>We take reasonable steps to protect your personal information from unauthorized access, disclosure, or
            misuse. We use industry-standard security measures, such as firewalls and encryption, to protect your
            information.</p><br>
        <h2>Disclosure of Your Information:</h2>
        <p>We do not sell, rent, or trade your personal information to third parties. We may share your information
            with third-party service providers who assist us in providing our products and services, but only to the
            extent necessary to perform their services.</p><br>
        <h2>Your Choices:</h2>
        <p>You may opt-out of receiving promotional emails from us by following the unsubscribe instructions in the
            email. You may also update or correct your personal information by contacting us at iget.staff@outlook.com.
        </p><br>
        <h2>Changes to this Policy:</h2>
        <p>We reserve the right to modify this Privacy Policy at any time. Any changes will be effective immediately
            upon posting to our website.</p><br>
        <h2>Contact Us:</h2>
        <p>If you have any questions or concerns about this Privacy Policy, please contact us at
            iget.staff@outlook.com.</p>
    </div>
    <%- include("footer") -%>
