<%- include("header") -%>
    <div class="container py-5">
        <h1 class="mb-3">Return Policy</h1>
        <p>We understand that customer satisfaction is important, and we strive to provide the best quality IGET products and
            services. However, due to the nature of our business, we have a strict no-return policy. Once a product has
            been purchased, it cannot be returned or exchanged for any reason. We apologize for any
            inconvenience this may cause, but we believe in standing behind the quality of our products and services. If
            there is a problem with your order, please contact our customer service team, and we will do our best to
            resolve the issue in a timely and satisfactory manner. Thank you for your understanding.
        </p>
    </div>
    <%- include("footer") -%>
