<%- include("header")-%>
    <div class="container text-center py-5">
        <h1>What people say about IGET</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 pt-5">
                <img class="homeicon" src="images/productReview/legend-review1.jpg" alt="iget-legend-review-image"><br>
                <small>Mandy J</small>
                <p>"Very happy! took 2 days to get here."</p>
                <ul class="stars">
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 pt-5">
                <img class="homeicon" src="images/productReview/legend.jpeg" alt="iget-king-and-bar-review-image"><br>
                <small>Mohamed S</small>
                <p>"Good flavor."</p>
                <ul class="stars">
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star-half-stroke"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 pt-5">
                <img class="homeicon" src="images/productReview/bulk-review.jpg" alt="iget-legend-review-image"><br>
                <small>Steve D</small>
                <p>"Super happy, order came no worries."</p>
                <ul class="stars">
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 pt-5">
                <img class="homeicon" src="images/productReview/iget-legends.jpg" alt="iget-legend-review-image"><br>
                <small>Jay R</small>
                <p>"Fast and easy to get, cheers."</p>
                <ul class="stars">
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6 pt-5">
                <img class="homeicon" src="images/productReview/bar-review.jpg" alt="iget-legend-review-image"><br>
                <small>Arron D</small>
                <p>"Loving the new flavour!!"</p>
                <ul class="stars">
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                    <li class="star"><i class="fa-solid fa-star"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <%- include("footer")-%>
