<%- include("header") -%>
    <div class="container py-5">
        <h1 class="mb-3">Terms and Conditions</h1>
        <p>Please read these Terms and Conditions ("Agreement") carefully before using our website or services. This
            Agreement sets forth the legally binding terms and conditions for your use of IGET-Australia website
            and services.</p>
        <br>
        <h2>1. Acceptance of Terms</h2>
        <p>By accessing or using our website or services, you agree to be bound by this Agreement. If you do not agree
            with any of the terms and conditions of this Agreement, do not use our website or services.</p><br>
        <h2>2. Use of Service</h2>
        <p>Our website and services are intended for personal and non-commercial use only. You agree to use our website
            and services only for lawful purposes and in accordance with this Agreement.</p><br>
        <h2>3. Intellectual Property</h2>
        <p>All materials, including but not limited to text, graphics, logos, images, and software, on our website are
            the property of IGET-Australia and are protected by copyright, trademark, and other intellectual property
            laws. You may not use any materials from our website without our prior written consent.</p><br>
        <h2>4. Links to Third-Party Websites</h2>
        <p>Our website may contain links to third-party websites or services that are not owned or controlled by
            IGET-Australia. We have no control over and assume no responsibility for the content, privacy policies, or
            practices of any third-party websites or services. You acknowledge and agree that IGET-Australia shall not
            be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by
            or in connection with the use of or reliance on any such content, goods, or services available on or through
            any such third-party websites or services.</p><br>
        <h2>5. Limitation of Liability</h2>
        <p>In no event shall IGET-Australia be liable for any direct, indirect, incidental, special, or consequential
            damages arising out of or in connection with your use or inability to use our website or services.
        </p><br>
        <h2>6. Age Requirement</h2>
        <p>Our website and services are intended for individuals who are 18 years of age or older. By accessing or using
            our website or services, you confirm that you are at least 18 years old. If you are under the age of 18, you
            are not authorized to use our website or services.</p><br>
        <h2>7. Indemnification</h2>
        <p>You agree to indemnify and hold IGET-Australia and its affiliates, officers, agents, employees, and partners
            harmless from any claim or demand, including reasonable attorneys' fees, made by any third party due to or
            arising out of your use of our website or services, your violation of this Agreement, or your violation of
            any rights of another.</p><br>
        <h2>8. Governing Law</h2>
        <p>This Agreement shall be governed by and construed in accordance with the laws of Australia without giving
            effect to any principles of conflicts of law.</p><br>
        <h2>9. Termination</h2>
        <p>We may terminate or suspend your access to our website and services immediately, without prior notice or
            liability, for any reason whatsoever, including without limitation if you breach this Agreement.
        </p><br>
        <h2>10. Changes to this Agreement</h2>
        <p>We reserve the right, at our sole discretion, to modify or replace this Agreement at any time. If a revision
            is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes
            a material change will be determined at our sole discretion.</p><br>
        <h2>11. Contact Us</h2>
        <p>If you have any questions or concerns about this Agreement, please contact us at iget.staff@outlook.com.</p>
    </div>
    <%- include("footer") -%>
